:root{
    --preto-claro:#00000015;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.842);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
}

.container h1 {
    text-align: center;
    color: white;
}

.container input {
    padding: 20px;
    text-align: center;
    border-radius: 7px;
    border: none;
    background-color:var(--preto-claro);
    outline: none;
    color: white;
    width: 100%;
}

.container #operation {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #00000015;
    font-weight: bold;
    outline: none;
    width: 100%;
}

 option {
    background-color: rgba(20, 19, 19, 0.952);
    color: rgb(255, 255, 255);
    text-align: center;
}

.container button {
    padding: 7px;
    background-color: #7a0317;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
}

button:hover {
    background-color: rgba(122, 3, 23, 0.788);
}

span{
    text-align: center;
    font-size: 50px;
    color: white;
    height: 0;
}

.oculta{
    display: none;
}
